<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416228270290-ep155s3qlmua53nv9i22trbdtpiv75mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416228270290-ep155s3qlmua53nv9i22trbdtpiv75mp</string>
	<key>API_KEY</key>
	<string>AIzaSyDLUUPbXJnG8Gy60zGrVBVuDWt10pUf54w</string>
	<key>GCM_SENDER_ID</key>
	<string>416228270290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ethan.ChatWithFirestore</string>
	<key>PROJECT_ID</key>
	<string>chatchat-80faf</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchat-80faf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416228270290:ios:41fd7596fbb66356ff8d0b</string>
</dict>
</plist>